@import 'the-new-css-reset/css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

#root {
  display: flex;
  justify-content: center;
}

.app {
  width: 500px;

  h1 {
    margin: 50px 0 10px;
    font-size: 26px;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
}

button {
  border: 1px solid white;
  padding: 5px;
}
